/* style.css */
#map-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(209, 11, 11, 0.8);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
}

#map-title h1 {
    margin: 0;
    font-size: 54 px;
    text-align: center;
}

#filters-container {
    position: relative;
    left: 0;
    top: calc(10px + 30px + 20px); 
    width: 20%; 
    height: calc(100% - (10px + 24px + 20px));
    background-color: rgba(122, 145, 83, 0.8);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#map {
    position: absolute;
    left: 20%; 
    top: calc(10px + 50px + 10px); 
    width: 80%; 
    height: calc(100% - (10px + 24px + 10px)); 
    border: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#year-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
}

#year-slider label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;

}

#year-input {
    display: block;
    width: 100%;
}

#year-reset {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.loading-cursor {
    cursor: progress !important;
}

#accident-type-dropdown-container {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#accident-type-dropdown {
    display: block;
    width: 100%;
    margin-top: 5px;
}

#accident-count-container {
    position: absolute;
    bottom: 120px;
    left: 10px;
    z-index: 1000;
    background-color: white;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#accident-count-container p {
    margin: 0;
}

/* Search box container */
.search-container {
    position: relative;
    margin: 20px;
}

/* Search box input */
#railroad-company-search {
    padding: 10px;
    width: 200px;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: auto; 
}

/* Search box input on focus */
#railroad-company-search:focus {
    border-color: #66afe9;
}

/* Autocomplete items container */
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: calc(7 * 40px);
    overflow-y: scroll;
}


/* Autocomplete items */
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/* Autocomplete item on hover */
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

#legend-container {
    position:absolute;
    bottom:0px
}

  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

h1 {
  font-size: 2.6em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

p {
  line-height: 1.2em;
}

.btn{
    position: absolute;
    right: 15px;
    top: 6px;
    color: white;
    background-color: transparent;
    font-size: 1.5em;
    padding:10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover{
    color: black;
    background-color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.close {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #b60400;
  text-decoration: none;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 60px 20% auto;
  height: 100%;
}

.header {
  grid-column: 1 / 3;
  background-color: black;
  color: white;
  padding: 12px 20px;
}

.checkbox-box {
  border: 1px solid black;
  display: inline-block;
  padding: 6px 10px 6px 6px;
  font-weight: bold;
}

.checkbox-box:hover {
  background-color: white;
}

.slider-box {
  margin-top: 24px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
}

.slider-box.disabled {
  opacity: 0.2;
}

.slider-box .slider {
  margin-left: 8px;
  width: 100%;
}

.time-slider {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #EEE;
}

.graph {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #EEE;
}

.sidebar {
  background-color: white;
  border-right: 1px solid black;
  padding: 16px;
  overflow: auto;
}

.map #map {
  width: 100%;
  height: 100%;
}

.map-tooltip {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  background-color: white;
  padding: 12px;
  max-width: 300px;
  border: 1px solid black;
}

.map-tooltip:empty {
  display: none;
}

.map-tooltip h2 {
  font-size: 1.2em;
}