/* style.css */
#map {
    width: 100%;
    height: 100vh;
    border: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#year-slider {
    position: absolute;
    bottom: 10px;
    right: 120px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

.loading-cursor {
    cursor: progress !important;
}

#accident-type-dropdown-container {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#accident-type-dropdown {
    display: block;
    width: 100%;
    margin-top: 5px;
}

#accident-count-container {
    position: absolute;
    bottom: 120px;
    left: 10px;
    z-index: 1000;
    background-color: white;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#accident-count-container p {
    margin: 0;
}

/* Search box container */
.search-container {
    position: relative;
    margin: 20px;
}

/* Search box input */
#railroad-company-search {
    padding: 10px;
    width: 200px;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    height: auto; 
}

/* Search box input on focus */
#railroad-company-search:focus {
    border-color: #66afe9;
}

/* Autocomplete items container */
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: calc(7 * 40px);
    overflow-y: scroll;
}


/* Autocomplete items */
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/* Autocomplete item on hover */
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
